@model DevolucionesUNISinu.Business.DTOs.Devoluciones.DevolucionDto
@{ 
    Layout = null;
}

@section Styles{

}


                    <form asp-action="Responder" autocomplete="off" id="formulario" onsubmit="return jQueryAjaxPost(this,'Responder', '¿Desea aprobar la solicitud?');">
                        <input asp-for="DevolucionId" type="hidden" />
                        <input asp-for="NumeroRadicado" type="hidden" />
                        <input asp-for="tipoRespuesta" type="hidden" />
                        <input asp-for="Estado" type="hidden" />
                        <input asp-for="RutaArchivoRespuestaContabilidad" type="hidden" />
                        <input asp-for="RutaArchivoRespuestaTesoreria" type="hidden" />


                        <div class="card">
                            <div class="card-body">
                                <div class=""><h2><strong>Información del estudiante:</strong></h2></div>
                                <br />
                                <div class="form-row">
                                    <br />
                                    <div class="form-group col-md-3">
                                        <label asp-for="Nombres" class="control-label"></label>
                                        <br />
                                        @Model.Nombres
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label asp-for="Apellidos" class="control-label"></label>
                                        <br />
                                        @Model.Apellidos
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label asp-for="TipoIdentificacion" class="control-label"></label>
                                        <br />
                                        @Model.TipoIdentificacion
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label asp-for="Identificacion" class="control-label"></label>
                                        <br />
                                        @Model.Identificacion
                                    </div>
                                </div>

                                <div class="form-row">
                                    <br />
                                    <div class="form-group col-md-6">
                                        <label asp-for="Email" class="control-label"></label>
                                        <br />
                                        @Model.Email
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="Telefono" class="control-label"></label>
                                        <br />
                                        @Model.Telefono
                                    </div>
                                </div>

                                <div class="form-row">
                                    <br />
                                    <div class="form-group col-md-12">
                                        <label asp-for="Facultad" class="control-label"></label>
                                        <br />
                                        @Model.Facultad
                                    </div>
                                </div>

                                <div class="form-row">
                                    <br />
                                    <div class="form-group col-md-12">
                                        <label asp-for="Programa" class="control-label"></label>
                                        <br />
                                        @Model.Programa
                                    </div>
                                </div>
                                <div class="form-row">
                                    <br />
                                    <div class="form-group col-md-12">
                                        <label asp-for="TipoPrograma" class="control-label"></label>
                                        <br />
                                        @Model.TipoPrograma
                                    </div>
                                </div>
                                <div class="form-row">
                                    <br />
                                    <div class="form-group col-md-12">
                                        <label asp-for="Semestre" class="control-label"></label>
                                        <br />
                                        @Model.Semestre
                                    </div>
                                </div>

                                <!--Info de la devolución-->


                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class=""><h2><strong>Concepto:</strong></h2></div>
                                <br />
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label asp-for="ConceptoDevolucion" class="control-label"></label>
                                        <br />
                                        @Model.ConceptoDevolucion
                                    </div>
                                    @if (Model.ConceptoDevolucionId == 4)
                                    {
                                        <div class="form-group col-md-3">
                                            <label asp-for="Otro"></label>
                                            <br />
                                            @Model.Otro
                                        </div>
                                    }
                                    <div class="form-group col-md-3">
                                        <label asp-for="Valor" class="control-label"></label>
                                        <br />
                                        $@Model.Valor.Value.ToString("N0")
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label asp-for="FechaPago" class="control-label"></label>
                                        <br />
                                        @Model.FechaPago
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class=""><h2><strong>Solicito que la devolución sea consignada en:</strong></h2></div>
                                <br />
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label asp-for="Banco"></label>
                                        <br />
                                        @Model.Banco
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label asp-for="MetodoConsignacion"></label>
                                        <br />
                                        @Model.MetodoConsignacion
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label asp-for="NumeroMetodoConsignacion" class="control-label"></label>
                                        <br />
                                        @Model.NumeroMetodoConsignacion
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class=""><h2><strong>Justificación:</strong></h2></div>
                                <div class="form-row">
                                    <br />
                                    <div class="form-group col-md-12">
                                        <textarea asp-for="Justificacion" class="form-control" readonly></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class=""><h2><strong>Soportes:</strong></h2></div>
                                <br />
                                @if (Model.Soportes.Count() == 0)
                                {


                                    <p>No existen soportes</p>
                                }
                                else
                                {

                                    <table class="table table-striped table-bordered table-hover">
                                        <thead class="thead-dark text-white">
                                            <tr class="">
                                                <th scope="col" class="text-center">#</th>
                                                <th scope="col" class="text-center">Soporte</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.Soportes.Select((value, index) => new { value, index }))
                                            {
                                                <tr class="">
                                                    <th scope="row" class="text-center">@(item.index + 1)</th>
                                                    <td>
                                                        <a class="" href="@Url.Action("DescargarSoporte","Devoluciones",new {ruta="soportes_e/"+item.value},Context.Request.Scheme)">@item.value</a>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>

                        @*Contabilidad*@
                        
                        @if (User.IsInRole("Contabilidad"))
                        {
                            <div class="card">
                            <div class="card-body">
                                <div class=""><h2><strong>Nota contable:</strong></h2></div>
                                <br />
                                <div class="form-group">
                                   @* <label asp-for="File"></label>*@
                                    <input asp-for="File" multiple type="file" accept="application/pdf" class="form-control-file">
                                </div>
                                <small>EL archivo debe tener un máximo de 20 mb. Formato permitidos: PDF.</small>
                            </div>
                        </div>
                                    
                        }

                         @*Tesoreria*@
                        
                        @if (User.IsInRole("Tesoreria"))
                        {
                        <div class="card">
                            <div class="card-body">
                                <div class=""><h2><strong>Soporte de egreso:</strong></h2></div>
                                <br />
                                <div class="form-group">
                                   @* <label asp-for="File"></label>*@
                                    <input asp-for="File" multiple type="file" accept="application/pdf" class="form-control-file">
                                </div>
                                <small>EL archivo debe tener un máximo de 20 mb. Formato permitidos: PDF.</small>
                            </div>
                        </div>
                                    
                        }


                        <!--Observaciones-->

                        <div class="card">
                            <div class="card-body">
                                <div class=""><h2><strong>Observaciones:</strong></h2></div>
                                <br />
                                <div class="form-row">
                                    <div class="form-group col-md-12">

                                        <textarea rows=10 asp-for="Observaciones" class="form-control"></textarea>
                                        <span asp-validation-for="Observaciones" class="text-danger error"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 offset-5">
                            <button type="submit" class="btn btn-primary btn-block">Aceptar</button>
                        </div>

                        @*<div class="card">
                            <div class="card-body">
                                <div class=""><h2><strong>Soportes - respuesta:</strong></h2></div>
                                <br />
                                <div class="form-group">
                                    <label asp-for="Files"></label>
                                    <input asp-for="Files" multiple type="file" class="form-control-file">
                                </div>
                                <small>Se permiten máximo 10 archivos, cada uno de máximo 10 mb. Formatos permitidos: jpg, jpeg, png, doc,docx y pdf.</small>
                            </div>
                        </div>
                       *@
                    </form>
                    

@section Scripts{

    @await Html.PartialAsync("_ValidationScriptsPartial")

}
