@model IEnumerable<DevolucionesUNISinu.Business.DTOs.Facultades.ProgramaDto>
@section Styles{

}

<div class="content">
    <div class="container-fluid">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2>Gestión de <b>@ViewBag.Titulo</b></h2>
                        </div>
                        <div class="col-sm-7">
                            <a onclick="mostrarModal('@Url.Action("Crear","Programas",null,Context.Request.Scheme)','Nuevo programa')" class="btn btn-success"><i class="fas fa-plus-circle"></i> <span>Nuevo programa</span></a>
                        </div>
                    </div>
                </div>


                @if (Model.Count() == 0)
                {
            <p>No existen programas</p>
                }
                else
                {    
                    <table class="table table-striped custom-table table-bordered table-hover" id="tabla">
                        <thead class="thead-dark text-white">
                            <tr class="">
                                <th scope="col" class="text-center">#</th>
                                <th scope="col" class="text-center">Programa</th>
                                <th scope="col" class="text-center">Facultad</th>
                                <th scope="col" class="text-center">Nivel académico</th>
                                <th scope="col" class="text-center">Semestres</th>
                                <th scope="col" class="text-center tablaAcciones">Acciones</th>
                                <th scope="col" class="text-center">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Select((value, index) => new { value, index }))
                            {
                                if (item.value.Estado == true)
                                {
                                    @:<tr class="">
                                    }
                                    else
                                    {
                                        @:<tr class="active ">
                                    }
                                    <th scope="row" class="text-center">@(item.index + 1)</th>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="javascript:mostrarModal('@Url.Action("Detalle","Programas",new {id=item.value.ProgramaId},Context.Request.Scheme)','Programa')" class="name">@item.value.Nombre</a>
                                        </div>
                                    </td>


                                    <td>
                                        <div class="d-flex align-items-center">
                                            @item.value.NombreFacultad
                                        </div>
                                    </td>

                                    <td class="text-center">
                                       
                                            @item.value.NombreTipoPrograma
                                       
                                    </td>
                                    <td class="text-center">
                                       
                                            @item.value.Semestres
                                      
                                    </td>



                                    <td class="text-center">
                                        <a class="text-primary"
                                           href="javascript:mostrarModal('@Url.Action("Editar","Programas",new {id=item.value.ProgramaId},Context.Request.Scheme)','Editar programa')">
                                            <i class="fas fa-edit" style="padding-right:10px"></i>
                                        </a>
                                        <a class="text-success"
                                           href="javascript:mostrarModal('@Url.Action("Detalle","Programas",new {id=item.value.ProgramaId},Context.Request.Scheme)','Programa')">
                                            <i class="fas fa-search-plus"></i>
                                        </a>
                                    </td>
                                    <td class="colEstado">
                                        @if (item.value.Estado == true)
                                        {
                                            <label class="custom-control ios-switch">
                                                <input type="checkbox" class="ios-switch-control-input" checked="" onclick="cambiarEstado('@Url.Action("CambiarEstado","Programas",new {id=item.value.ProgramaId},Context.Request.Scheme)')">
                                                <span class="ios-switch-control-indicator"></span>
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="custom-control ios-switch">
                                                <input type="checkbox" class="ios-switch-control-input" onclick="cambiarEstado('@Url.Action("CambiarEstado","Programas",new {id=item.value.ProgramaId},Context.Request.Scheme)')">
                                                <span class="ios-switch-control-indicator"></span>
                                            </label>

                                        }
                                    </td>
                                @:</tr>
                            }

                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/site.js"></script>
    <script src="~/js/tabla.js"></script>
}

